@font-face {
  font-family: "DungeonCrawler";
  src: url("./fonts/DungeonCrawler.ttf") format("truetype");
}

body {
  background-color: lightblue;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

main {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
}

#gameMenu {
position: absolute;
width: 100vw;
height: 100vh;
background-color: black;
z-index: 5;
}

@keyframes slice-in-bottom {
  0% {
    mask-position: 0 0;
  }
  100% {
    mask-position: 0 -200%;
  }
}

header {
  font-size: 70px;
  font-family: "DungeonCrawler";
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1;
  z-index: 5;
  overflow: hidden;
}

header > p:first-child {
  position: relative;
  display: inline-block;
  mask-image: linear-gradient(to top, transparent 0%, black 100%, transparent 50%);
  mask-size: 100% 200%; 
  animation: slice-in-bottom 2s forwards;
}



#swordFigure {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 1s ease-in-out .5s forwards;
}

.remove {
  display: none
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



#swordTopLogo {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 7;
}

#swordCircle{
width:125px;
height:25px;
background-color: #f3f3f3;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%, 50%) skewX(200deg);
border-radius: 50%;
z-index: 5;
}

#start {
  position: absolute;
  padding: 20px 60px;
  border-radius: 12px;
  border: none;
  box-shadow: 2px 2px 5px 2px rgb(49, 49, 49);
  font-family:monospace;
  color: white;
  font-size: 34px;
  background-color: #004258d0;
  cursor: pointer;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
} 

#start:hover {
  box-shadow: 2px 2px 8px 3px rgb(49, 49, 49);
  background-color: #045d7ad0;
}

#restart, #continue {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 2px 2px 5px 2px rgb(49, 49, 49);
  font-family: "DungeonCrawler";
  color: black;
  font-size: 28px;
  background-color: #84c5dbd0;
  cursor: pointer;
}

#restart:hover {
  background-color: #a3cbd8d0;
}

#roundCounter {
  display: none;
  font-size: 40px;
}

#results {
  width: 50vw;
  height: 40vh;
  background-color: rgba(173, 216, 230, 0.75);
  position: absolute;
  border: 20px solid transparent;
  border-image: linear-gradient(to bottom right, #00ebdbb2, #004258b2) 1;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  z-index: 4;
}

.exitDoor {
  width: 5vw;
  height: 10vh;
  background: radial-gradient(circle, #faecef 0%, #cca2ab 50%, #3d3d3d 100%);
}

.tile {
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: #008b8a;
  border: 2px inset transparent;
  border-image: linear-gradient(to bottom right, #0ce6d8, #000907) 1;
}

.grassTile {
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-image: url("./image/grass.png")
}

.dirtTile {
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-image: url("./image/dirt.jpg")
}

.stoneTile {
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-image: url("./image/stone.jpg")
}

.tree {
  width: 5vw;
  height: 10vh;
 }

.fire {
  width: 5vw;
  height: 10vh;
 }

.oldCat {
  width: 5vw;
  height: 10vh;
 }

.swordTop {
  width: 5vw;
  height: 10vh;
 }


.wall {
  width: 5vw;
  height: 10vh;
  background-color: #008b8a;
  box-sizing: border-box;
  border: 20px inset transparent;
  border-image: linear-gradient(to bottom right, #00ebdc, #004258) 1;
}

.caveWall {
  width: 5vw;
  height: 10vh;
  background-image: url("./image/caveTile.png");  
}

.caveExit, .caveEntrance, .towerEntrance {
  width: 5vw;
  height: 10vh;
  background: radial-gradient(circle, #0a0809 0%, #222222 50%, #7b7b7b 100%);
}

.outdoorWall {
  width: 5vw;
  height: 10vh;
  background-image: url("./image/grass.png");  
}

.outdoorDirtPath {
  width: 5vw;
  height: 10vh;
  background-image: url("./image/dirt.jpg");  
}

.wallTop,
.exitTop {
  position: absolute;
  top: -10vh;
}

.wallBottom,
.exitBottom {
  position: absolute;
  bottom: -10vh;
}

.wallLeft,
.exitLeft {
  position: absolute;
  left: -5vw;
}

.wallRight,
.exitRight {
  position: absolute;
  right: -5vw;
}

.catImg {
  width: 5vw;
  height: 10vh;
  z-index: 3;
}

.dogImg-0,
.dogImg-1,
.dogImg-2,
.dogImg-3,
.dogImg-4,
.dogImg-5,
.dogImg-6,
.dogImg-7,
.dogImg-8,
.dogImg-9 {
  width: 4vw;
  height: 8vh;
  z-index: 2;
}

.moveUp {
  animation: moveUp 0.1s forwards;
}

.boulderShadow {
  position: absolute;
  width: 1vw;
  height: 1vh;
  border-radius: 50%;
  background-color: #2b2b2bb2;
  animation: growShadow 1s forwards;
}

.terrianBoulder {
  width: 5vw;
  height: 10vh;
  position: absolute;
}

.boulder {
  width: 5vw;
  height: 10vh;
  position: absolute;
  animation: dropBoulder 1s forwards;
}

@keyframes dropBoulder {
  0% {
    transform: translateY(-60vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes growShadow {
  0% {
    width: 1vw;
    height: 2vh;
    background-color: #2b2b2bb2;
  }
  100% {
    width: 3vw;
    height: 7vh;
    background-color: #2b2b2b;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10vh);
  }
}

.moveDown {
  animation: moveDown 0.1s forwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10vh);
  }
}

.moveLeft {
  animation: moveLeft 0.1s forwards;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5vw);
  }
}

.moveRight {
  animation: moveRight 0.1s forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5vw);
  }
}

.laserBeam {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.laserBeamVertical {
  width: 3vw;
  height: 10vh;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamVerticalRounded {
  width: 3vw;
  height: 10vh;
  border-radius: 50%;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamVerticalStartFireUp {
  width: 3vw;
  height: 10vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamVerticalEndFireUp {
  width: 3vw;
  height: 10vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamVerticalStartFireDown {
  width: 3vw;
  height: 10vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamVerticalEndFireDown {
  width: 3vw;
  height: 10vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: growAndShrinkVertical 1s forwards;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontal {
  width: 5vw;
  height: 6vh;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontalRounded {
  width: 5vw;
  height: 6vh;
  border-radius: 50%;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontalStartFireLeft {
  width: 5vw;
  height: 6vh;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontalEndFireLeft {
  width: 5vw;
  height: 6vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontalStartFireRight {
  width: 5vw;
  height: 6vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

.laserBeamHorizontalEndFireRight {
  width: 5vw;
  height: 6vh;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: growAndShrinkHorizontal 1s forwards;
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(245,177,177,1) 50%, rgba(255,0,0,1) 100%);
}

@keyframes growAndShrinkVertical {
  0%,
  100% {
    width: 0vw; /* Start and end width */
  }
  50% {
    width: 3vw; /* Middle width */
  }
}

@keyframes growAndShrinkHorizontal {
  0%,
  100% {
    height: 0vh; /* Start and end height */
  }
  50% {
    height: 6vh; /* Middle height */
  }
}

@keyframes swordSwipe {
  0% {
    opacity: 1;
    transform: translate(50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
}

.swordSwing {
  position: relative;
}

.sword-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 
  pointer-events: none; 
  opacity: 0; 
  animation: swordSwipe 0.5s ease-out forwards;

}

.sword-animation-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.animateDeath{
  animation: deathAnimation 1s linear ;
}

@keyframes deathAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}